
#inscri{
    margin-left: 550px;
}
#cnx{
    margin-left: 100px;
}
#area 
{
    border: 3px black double;
    margin-top: 20px;
    padding-left: 70px;
    margin-left: 500px;
   
}
#isg
{ 
    margin-left: 600px;
}
